<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @vite(['resources/js/app.js'])
  <title>Andrés & Tamara</title>
</head>
<body>
<div class="fixed-bg"></div>
<div class="fixed-bg-two"></div>

<section class="home">
  <div class="container">
    <!--<div>
        <img src="public/iglesia_acuarelav3_sin_fondo.png" alt="Foto iglesia acuarela">
    </div>
    <h1>Andrés & Tamara</h1>

    <p>amor es una palabra hasta que alguien llega para darle sentido.</p>-->
  </div>
  <div class="scroll-indicator">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
    </svg>
  </div>
</section>

<section id="content" class="content-section">
  <div class="container">
    <h2>Rubén Andrés</h2><h2>&</h2><h2> Tamara Pamela</h2>
    <p>con la bendición de dios tenemos el honor de invitarlos a nuestro matrimonio.</p>

    <div class="slide">
      <div class="slide-inner">

        <input class="slide-open" type="radio" id="slide-1"
               name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
          <img src="{{ asset('resources/images/T&A0065.jpg') }}" alt="photo1">
        </div>

        <input class="slide-open" type="radio" id="slide-2"
               name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
          <img src="{{ asset('resources/images/DSC_6154.jpg') }}" alt="photo2">
        </div>

        <input class="slide-open" type="radio" id="slide-3"
               name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
          <img src="{{ asset('resources/images/T&A0007.jpg') }}" alt="photo3">
        </div>

        <label for="slide-3" class="slide-control prev control-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
          </svg>
        </label>
        <label for="slide-2" class="slide-control next control-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </label>

        <label for="slide-1" class="slide-control prev control-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
          </svg>
        </label>
        <label for="slide-3" class="slide-control next control-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </label>

        <label for="slide-2" class="slide-control prev control-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
          </svg>
        </label>
        <label for="slide-1" class="slide-control next control-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </label>

      </div>
    </div>

    <!--<p class="wedding-date-p">3 de enero de 2026</p>-->
    <p class="margin-top">siete años de relación nos han hecho entender que amor es solo una palabra hasta que alguien llega para darle sentido.</p>
    <button class="btn" id="wedding-day-btn">agenda la fecha</button>

  </div>
</section>

<section class="content-section">
  <div class="container">
    <h2>Ceremonia Religiosa</h2>
    <p>iglesia nuestra señora de la alborada</p>

    <div class="silhouette">
      <img class="small-photo" src="{{ asset('resources/images/iglesia_acuarelav3_sin_fondo.png') }}" alt="Iglesia miniatura">
    </div>
    <button class="btn location-site"
            location-name="Parroquia Santuario Nuestra Señora de La Alborada"
            location-latitude="-2.1395201485045807"
            location-longitude="-79.89889231481224">ver ubicación</button>
  </div>

  <div class="container">
    <h2>Recepción</h2>
    <p>iguanazú</p>

    <div class="silhouette">
      <img class="small-photo" src="{{ asset('resources/images/fiesta_icono_acuarela.png') }}" alt="Small photo">
    </div>
    <button class="btn location-site"
            location-name="Iguanazú"
            location-latitude="-2.1677016047344067"
            location-longitude="-79.92409853898694">ver ubicación</button>
  </div>
</section>

<section class="content-section">
  <div class="container">
    <h2>Obsequio</h2>
    <p>el mejor regalo es que estes presente en este día tan especial, pero si deseas hacernos un obsequio aquí tienes nuestros datos bancarios.</p>

    <div class="bank-details">
      <p class="no-margin-bottom">cta. ahorros banco pacífico: 1041071867</p>
      <p class="no-margin-bottom">nombre: rubén andrés carvajal ulloa</p>
      <p class="no-margin-bottom">correo: rubencarvajalulloa@gmail.com</p>
      <p>cédula: 0704966977</p>
    </div>
  </div>
</section>


<section class="content-section">
  <div class="container">
    <h2>Confirma tu asistencia</h2>
    <p>es muy importante para nosotros</p>
    <p class="no-margin-bottom">familia carvajal aguilar</p>
    <p>admisión, 4 personas</p>
    <button class="btn">confirmar</button>
    <p class="margin-top-lg">con el deseo de preservar el carácter íntimo de nuestra celebración, hemos limitado cuidadosamente el número de asistentes. agradecemos produndamente tu comprensión y presencia.</p>

  </div>
</section>
</body>
</html>
