<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @vite(['resources/js/app.js'])
  <title>Andrés & Tamara</title>
  <link rel="icon" href="{{ asset('resources/images/favicon.jpg') }}" type="image/x-icon">
</head>
<body>
<div class="fixed-bg"></div>
<div class="play-music" id="play-button">
</div>

<section class="home">
  <div class="container">
    <p class="intro-main">con la bendición de Dios y de nuestros padres</p>
    <div class="parents-names">
      <div>
        <p>Edgar Rubén Carvajal González</p>
        <p>Pedro Francisco García López</p>
      </div>
      <div>
        <p>Gloria Yolanda Ulloa Procel</p>
        <p>Gina Elizabeth Soria Campuzano</p>
      </div>

    </div>
    <div class="intro-main-names">
      <p class="main-name">andrés</p><p class="main-and">and</p><p class="main-name">tamara</p>
    </div>

    <div class="church-main">
      <p>tenemos el honor de invitarte a la nuestra boda eclesiástica</p>
      <p>Santuario Nuestra Señora de la</p><p>Alborada</p>
      <img class="church-main-img"
           src="{{ asset('resources/images/altar_sin_fondo.png') }}"
           alt="Altar iglesia">
    </div>

    <div class="info-date-main">
      <p class="wedding-date-p">03.01.2026</p>
      <p class="wedding-date-p">a las 11:30 am</p>
    </div>

  </div>
  <div class="scroll-indicator">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
    </svg>
  </div>

</section>

<section id="content" class="content-section">
  <div class="container">

    <p class="text-photos">después de 7 años de caminar juntos, comprendimos que el amor no se mide en días, ni en promesas perfectas, sino en los pequeños gestos, en la paciencia compartida y en la certeza de elegirnos una y otra vez. </p>
    <img src="{{ asset('resources/images/DSC_6744_02.jpg') }}" alt="photo1">

    <p class="text-photos">amor fue solo una palabra hasta que nuestras vidas se encontraron y le dimos sentido.</p>
    <img src="{{ asset('resources/images/T&A0054.jpg') }}" alt="photo3">

    <p class="text-photos">nos amamos sin prisa, con raíces firmes contruyendo un nosotros que no tiene final. y hoy, celebramos ese amor que creció lento, firme y eterno.</p>
    <img src="{{ asset('resources/images/DSC_6153.jpg') }}" alt="photo2">


    <div class="countdown">
      <div class="separator">
        <span></span>
        <p>∞</p>
        <span></span>
      </div>
      <div>
        <div class="countdown-row">
          <p id="countdown-days">21</p>
          <p id="countdown-hours">35</p>
          <p id="countdown-minutes">35</p>
        </div>
        <div class="countdown-row">
          <p>días</p>
          <p>horas</p>
          <p>minutos</p>
        </div>
      </div>
      <div class="separator">
        <span></span>
      </div>
    </div>

    <button class="btn" id="wedding-day-btn">agenda la fecha</button>

  </div>
</section>

<section class="content-section">
  <div class="container">
    <h2>Ceremonia Religiosa</h2>
    <p>iglesia nuestra señora de la alborada</p>

    <div class="silhouette">
      <img class="small-photo" src="{{ asset('resources/images/iglesia_sin_fondo.png') }}" alt="Iglesia miniatura">
    </div>
    <button class="btn location-site"
            location-name="Parroquia Santuario Nuestra Señora de La Alborada"
            location-latitude="-2.1395201485045807"
            location-longitude="-79.89889231481224">ver ubicación</button>
  </div>

  <div class="container">
    <h2>Recepción</h2>
    <p>iguanazú</p>

    <div class="silhouette">
      <img class="small-photo" src="{{ asset('resources/images/iguanazu_sin_fondo.png') }}" alt="Small photo">
    </div>
    <button class="btn location-site"
            location-name="Iguanazú"
            location-latitude="-2.1677016047344067"
            location-longitude="-79.92409853898694">ver ubicación</button>
  </div>
</section>

<section class="content-section">
  <div class="container">
    <h2 class="obsequio-title">Obsequio</h2>
    <div class="silhouette obsequio-image">
      <img class="icon-photo-section" src="{{ asset('resources/images/regalo_sin_fondo.png') }}" alt="Iglesia miniatura">
    </div>
    <p>el mejor regalo es que estes presente en este día tan especial, pero si deseas hacernos un obsequio aquí tienes nuestros datos bancarios.</p>

    <div class="bank-details">
      <div class="separator">
        <span></span>
      </div>
      <p class="no-margin-bottom">cta. ahorros banco pacífico: 1041071867</p>
      <p class="no-margin-bottom">nombre: rubén andrés carvajal ulloa</p>
      <p class="no-margin-bottom">correo: rubencarvajalulloa@gmail.com</p>
      <p>cédula: 0704966977</p>
      <div class="separator">
        <span></span>
      </div>
    </div>
  </div>
</section>


<section class="content-section">
  <div class="container">
    <h2>Confirma tu asistencia</h2>
    <p>es muy importante para nosotros</p>
    <div class="silhouette">
      <img class="icon-photo-section" src="{{ asset('resources/images/confirmacion_sin_fondo.png') }}" alt="Iglesia miniatura">
    </div>
    @if(invite)
      <p class="no-margin-bottom">{{ invite.nombre.toLowerCase(); }}</p>
      <p>admisión, {{ invite.n_invitados }} {{ (invite.n_invitados == 1)?  'invitado' : 'invitados' }}</p>

      @if(invite.confirmado)
        <button class="btn">has confirmado</button>
      @else
        <button class="btn" id="confirm-button">confirmar</button>
      @end
      <p class="margin-top-lg">con el deseo de preservar el carácter íntimo de nuestra celebración, hemos limitado cuidadosamente el número de asistentes. agradecemos profundamente tu comprensión y presencia.</p>
    @else
      <p class="margin-top-lg">accede al enlace que recibiste inicialmente para que puedas confirmar tu asistencia correctamente.</p>
    @end
  </div>
</section>

<section class="content-section">
  <div class="container">
    <div class="dress-code-main-text-section">
      <p class="dress-code-main-title">dress code</p>
      <h1 class="dress-code-main-subtitle">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        cocktail</h1>
    </div>
    <p class="p-title-dress-code">aquí tienes el estilo de vestimenta para el evento, para que brilles y estés cómodo.</p>
    <div class="vestimenta-section">
      <div class="silhouette">
        <img class="small-photo" src="{{ asset('resources/images/chico_sin_fondo.png') }}" alt="Chico photo">
      </div>
      <div class="dress-code-middle-column">
        <div>
          <div class="dress-code-text-section">
            <p class="dress-code-title">colores</p>
            <p class="dress-code-text">ideal para jardín</p>
          </div>

          <div class="dress-code-text-section">
            <p class="dress-code-title">estilo</p>
            <p class="dress-code-text">elegantes y ligeros</p>
          </div>

          <div class="dress-code-text-section">
            <p class="dress-code-title">sugerencia</p>
            <p class="dress-code-text">calzado cómodo para césped</p>
          </div>
        </div>
      </div>
      <div class="silhouette">
        <img class="small-photo" src="{{ asset('resources/images/chica_sin_fondo.png') }}" alt="Chica photo">
      </div>
    </div>
    <p class="dress-code-footer">Se reservan el color blanco y beige en damas, y azul en traje de caballero.</p>
  </div>
</section>

<section class="content-section">
  <div class="container">
    <h2>Itinerario</h2>
    <p>aquí tienes el itinerario del evento, para que puedas estar a tiempo.</p>
    <div class="silhouette">
      <img class="small-photo" src="{{ asset('resources/images/reloj_arena.png') }}" alt="Chico photo">
    </div>

    <ul>
      <li>
        <p>11:30 am | inicio ceremonía eclesiástica</p>
      </li>
      <li>
        <p>2:00 pm | recepción iguanazú y coctél de bienvenida</p>
      </li>
      <li>
        <p>3:30 pm | comida</p>
      </li>
      <li>
        <p>8:00 pm | despedida y fin</p>
      </li>
    </ul>
  </div>
</section>

<div class="container-goodbye">
  <img src="{{ asset('resources/images/T&A0045.jpg') }}" alt="photo2">
  <h2>Te esperamos...</h2>
  <h2>con mucha ilusión</h2>
</div>

</body>
</html>
